.env*
.env
.env.local
.env.*.local
*.log
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
node_modules/
view/node_modules/
view/dist/
bin/
data/*.db
data/*.db-*
coverage/
*.tsbuildinfo
view/vite.config.js
view/vite.config.d.ts
view/tailwind.config.js
view/tailwind.config.d.ts
